<mat-card class="tabelaDistJef">
  <table mat-table [dataSource]="Tabela">
    <ng-container matColumnDef="TeleJudiciário">
      <th mat-header-cell *matHeaderCellDef>TeleJudiciário</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.telejudiciario }}</td>
    </ng-container>

    <ng-container matColumnDef="Atermação">
      <th mat-header-cell *matHeaderCellDef>Atermação</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.atermacao }}</td>
    </ng-container>

    <ng-container matColumnDef="Advogados">
      <th mat-header-cell *matHeaderCellDef>Advogados</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.advogados }}</td>
    </ng-container>

    <ng-container matColumnDef="Processos">
      <th mat-header-cell *matHeaderCellDef>Processos</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.processos }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</mat-card>
