<app-src-bar></app-src-bar>
<app-cejusc-grafico></app-cejusc-grafico>
<app-contadoria-jef-grafico></app-contadoria-jef-grafico>
<app-contadoria-vara-grafico1></app-contadoria-vara-grafico1>
<app-contadoria-vara-grafico2></app-contadoria-vara-grafico2>
<app-distribuicao-jef-grafico></app-distribuicao-jef-grafico>
<app-distribuicao-vara-grafico1></app-distribuicao-vara-grafico1>
<app-distribuicao-vara-grafico2></app-distribuicao-vara-grafico2>
<app-mandado-distribuido-grafico></app-mandado-distribuido-grafico>
<app-arquivo-tabela></app-arquivo-tabela>
<app-distribuicao-jef-tabela></app-distribuicao-jef-tabela>
