<mat-card class="novoMatCard">
      <h3>Mandado Distribuido - Novo</h3>

    <form #form="ngForm" (ngSubmit)="register()" novalidate>

      <mat-form-field appearance="outline">
        <mat-label>Ano</mat-label>
          <div>
            <input matInput type="input"  id="inputAno" name="ano" [(ngModel)]="mandadoDistribuido.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Mês</mat-label>
          <div>
            <input matInput type="input" id="inputMes" name="mes" [(ngModel)]="mandadoDistribuido.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>1ª Vara</mat-label>
          <div>
            <input matInput type="input" id="inputvara1" name="inputvara1" [(ngModel)]="mandadoDistribuido.vara1">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>2ª Vara</mat-label>
          <div>
            <input matInput type="input" id="inputvara2" name="inputvara2" [(ngModel)]="mandadoDistribuido.vara2">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>3ª Vara</mat-label>
          <div>
            <input matInput type="input" id="inputvara3" name="inputvara3" [(ngModel)]="mandadoDistribuido.vara3">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>5ª Vara</mat-label>
          <div>
            <input matInput type="input" id="inputvara5" name="inputvara5" [(ngModel)]="mandadoDistribuido.vara5">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>16ª Vara</mat-label>
          <div>
            <input matInput type="input" id="inputvara16" name="inputvara16" [(ngModel)]="mandadoDistribuido.vara16">
          </div>
        </mat-form-field>
        <br>
       <mat-form-field appearance="outline">
        <mat-label>PJe</mat-label>
          <div>
            <input matInput type="input" id="inputPJE" name="inputPJE" [(ngModel)]="mandadoDistribuido.pje">
          </div>
        </mat-form-field>

      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">Salvar</button>
      </div>
    </form>
  </mat-card>
