<mat-card>
      <h3>Mandado Distribuido - Novo</h3>

    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <mat-form-field>
          <div>
            <input matInput type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="mandadoDistribuido.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="mandadoDistribuido.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputvara1" name="inputvara1" placeholder="1a Vara" [(ngModel)]="mandadoDistribuido.vara1">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputvara2" name="inputvara2" placeholder="2a Vara" [(ngModel)]="mandadoDistribuido.vara2">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputvara3" name="inputvara3" placeholder="3a Vara" [(ngModel)]="mandadoDistribuido.vara3">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputvara5" name="inputvara5" placeholder="5a Vara" [(ngModel)]="mandadoDistribuido.vara5">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputvara16" name="inputvara16" placeholder="16a Vara" [(ngModel)]="mandadoDistribuido.vara16">
          </div>
        </mat-form-field>
        <br>
       <mat-form-field>
          <div>
            <input matInput type="input" id="inputPJE" name="inputPJE" placeholder="PJE" [(ngModel)]="mandadoDistribuido.pje">
          </div>
        </mat-form-field>

      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">save</button>
      </div>
    </form>
  </mat-card>
