
  <mat-card class="cejuscChart">
    <div>
      <h1 class="title">1 - CEJUSC - AUDIÊNCIAS DE CONCILIAÇÃO</h1>
      <h4 class="subtitle">{{mesNome}}/{{ano}}</h4>
    </div>
    <div style="display: block">
      <canvas baseChart
              [colors]="coresGrafico"
              [data]="dataGrafico"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [legend]="legend"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <br>
    <table mat-table [dataSource]="Tabela">
      <ng-container matColumnDef="Acordo">
        <th mat-header-cell *matHeaderCellDef>Acordo</th>
        <td mat-cell *matCellDef="let Tabela">{{ Tabela.acordo }}</td>
      </ng-container>
      <ng-container matColumnDef="Sem Acordo">
        <th mat-header-cell *matHeaderCellDef>Sem Acordo</th>
        <td mat-cell *matCellDef="let Tabela">{{ Tabela.semAcordo }}</td>
      </ng-container>

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let Tabela">{{ Tabela.total }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
