<mat-card>
      <h3>Contadiria Vara - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <mat-form-field>
          <div>
            <input matInput type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="distribuicaoVara.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="distribuicaoVara.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div >
            <input matInput type="input" id="inputFisicoDistribuido" name="inputFisicoDistribuido" placeholder="Físico Distribuido" [(ngModel)]="distribuicaoVara.fisicoDistribuido">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div >
            <input matInput type="input" id="inputFisicoArquivado" name="inputFisicoArquivado" placeholder="Físico Arquivado" [(ngModel)]="distribuicaoVara.fisicoArquivado">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputEletronicoDistribuido" name="inputEletronicoDistribuido" placeholder="Eletrônico Distribuido" [(ngModel)]="distribuicaoVara.inputEletronicoDistribuido">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputEletronicoArquivado" name="inputEletronicoArquivado" placeholder="Eletrônico Arquivado" [(ngModel)]="distribuicaoVara.inputEletronicoArquivado">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputProcessosMigrados" name="inputProcessosMigrados" placeholder="Processos Migrados para o PJE" [(ngModel)]="distribuicaoVara.processosMigrados">
          </div>
        </mat-form-field>
      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">save</button>
      </div>
    </form>
  </mat-card>
