
      <h3>Cejusc - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div>
        <div>
          <label for="inputAno" >Ano</label>

          <div class="col-sm-10">
            <input type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="arquivo.ano">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputMes">Mês</label>

          <div>
            <input type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="arquivo.mes">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputDesarquivadoEnviadoVara">Desaquirvado</label>

          <div class="col-sm-10">
            <input type="input" id="inputDesarquivadoEnviadoVara" name="desarquivadoEnviadoVara" placeholder="Acordo" [(ngModel)]="arquivo.inputDesarquivadoEnviadoVara">
          </div>
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="!form.valid">save</button>
      </div>
      <!-- /.box-footer -->
    </form>
