<mat-card>
      <h3>Arquivo - Novo</h3>

    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <mat-form-field>
      <div>
        <div>

          <div>
            <input matInput type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="arquivo.ano">
          </div>
        </div>
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
      <div>
            <input matInput type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="arquivo.mes">
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
      <div>
            <input matInput type="input" id="inputDesarquivadoEnviadoVara" name="desarquivadoEnviadoVara" placeholder="Desaquirvado" [(ngModel)]="arquivo.desarquivadoEnviadoVara">
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
          <div>
            <input matInput type="input" id="inputDevolvidoCaixaRetornoVara" name="devolvidoCaixaRetornoVara" placeholder="Devolvido Caixa Retorno Vara" [(ngModel)]="arquivo.devolvidoCaixaRetornoVara">
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
          <div>
            <input matInput type="input" id="inputDevolvidoCaixaRetornoVara" name="devolvidoCaixaRetornoVara" placeholder="Devolvido Caixa Retorno Vara" [(ngModel)]="arquivo.devolvidoCaixaRetornoVara">
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
          <div>
            <input matInput type="input" id="inputFeituraCaixaParaGuardaProcessoArquivo" name="feituraCaixaParaGuardaProcessoArquivo" placeholder="-" [(ngModel)]="arquivo.feituraCaixaParaGuardaProcessoArquivo">
      </div>
    </mat-form-field>
    <br>
      <mat-form-field>
          <div >
            <input matInputtype="input" id="inputdistribuicaoArquivamento" name="inputdistribuicaoArquivamento" placeholder="Devolvido Caixa Retorno Vara" [(ngModel)]="arquivo.distribuicaoArquivamento">
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
          <div >
            <input matInput type="input" id="inputCaixaAcotes" name="inputCaixaAcotes" placeholder="Devolvido Caixa Retorno Vara" [(ngModel)]="caixaAcotes">
          </div>
    </mat-form-field>
    <br>
    <mat-form-field>
          <div>
            <input matInput type="input" id="inputBaixadoGuardadosCaixaAcote" name="inputBaixadoGuardadosCaixaAcote" placeholder="Devolvido Caixa Retorno Vara" [(ngModel)]="baixadoGuardadosCaixaAcote">
      </div>
    </mat-form-field>
    <br>
    <mat-form-field>
          <div >
            <input matInput type="input" id="inputProcessosRecebidosVaraBaixa" name="inputProcessosRecebidosVaraBaixa" placeholder="Devolvido Caixa Retorno Vara" [(ngModel)]="processosRecebidosVaraBaixa">
      </div>
    </mat-form-field>

      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">save</button>
      </div>
    </form>
  </mat-card>
