<mat-card class="login-box">
  <div class="login-logo">
    <a><b>ENJ</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Faça o login para iniciar sua sessão</p>

    <form #form="ngForm">
      <div class="alert alert-error" role="alert" *ngIf="message">
        <strong>E-mail ou senha incorreta</strong>
      </div>
      <mat-form-field>
      <div [ngClass] = "getFromGroupClass(email.invalid, email.dirty)">
        <input type="email" matInput [(ngModel)]="usuario.email" name="email" class="form-control" placeholder="Usuário" #email="ngModel" id="inputEmail" email>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        <!-- <span class="help-block" *ngIf="email.invalid && email.dirty">Digite um e-mail válido</span> -->
      </div>
    </mat-form-field>
  <br>
    <mat-form-field>
      <div [ngClass] = "getFromGroupClass(password.invalid, password.dirty)">
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" id="inputPassword" name="password" #password="ngModel" class="form-control" placeholder="Senha" required>
        <mat-icon class="pwVisibility" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <span class="help-block" *ngIf="password.invalid && password.dirty">É necessário digitar a senha</span>
      </div>
    </mat-form-field>

      <div class="row">
        <div class="col-xs-4">
          <button type="submit" mat-button class="btnF5" [disabled]="!form.valid" (click)="login()">Inicie sua sessão</button>
        </div>
      </div>

    </form>

  </div>
  <!-- /.login-box-body -->
</mat-card>
