
.login-box {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
  width: 30%;
  min-width: 300px;
  height: 40%;
}


 mat-icon.pwVisibility {
  position: absolute;
  display: inline !important;
  bottom: 30%;
  margin-left: -25px;
}

mat-error {
  font-size: 10px;
  padding: 0;
}

