<mat-card class="login-box">
  <div class="login-logo">
    <a><b>ENJ</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Faça o login para iniciar sua sessão</p>

    <form #form="ngForm">
      <!-- <div class="alert alert-error" role="alert" *ngIf="message">
        <strong>E-mail ou senha incorreta</strong>
      </div> -->
      <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
      <div>
        <input type="input" matInput [(ngModel)]="usuario.login" name="login" class="form-control" #email="ngModel" id="inputEmail" required>
      </div>
    </mat-form-field>
  <br>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <div class="row">
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.senha" name="senha" id="inputPassword"  #password="ngModel" class="form-control" required>
        <mat-icon class="pwVisibility" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </div>
    </mat-form-field>

      <div class="row">
        <div class="col-xs-4">
          <button type="submit" mat-button class="btnF5" [disabled]="!form.valid" (click)="login()">Inicie sua sessão</button>
        </div>
      </div>

    </form>

  </div>
  <!-- /.login-box-body -->
</mat-card>
