<mat-card class="novoMatCard">
      <h3>Contadoria JEF - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>

      <mat-form-field appearance="outline">
        <mat-label>Ano</mat-label>
          <div>
            <input type="input"  matInput id="inputAno" name="ano" [(ngModel)]="contadoriaJef.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Mês</mat-label>
          <div>
            <input type="input" matInput id="inputMes" name="mes" [(ngModel)]="contadoriaJef.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Cálculos</mat-label>
          <div>
            <input type="input" matInput id="inputCalculos" name="calculos" [(ngModel)]="contadoriaJef.calculos">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Atualizações</mat-label>
          <div>
            <input type="input" matInput id="inputAtualizacoes" name="atualizacoes" [(ngModel)]="contadoriaJef.atualizacoes">
          </div>
        </mat-form-field>
      <div>
        <button mat-button class="btnF5" type="submit" [disabled]="!form.valid">Salvar</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </mat-card>
