<mat-card>
      <h3>Contadiria JEF - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <mat-form-field>

          <div>
            <input type="input"  matInput id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="contadoriaJef.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input type="input" matInput id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="contadoriaJef.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>

          <div>
            <input type="input" matInput id="inputCalculos" name="acordo" placeholder="Calculos" [(ngModel)]="contadoriaJef.calculos">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input type="input" matInput id="inputAtualizacoes" name="ano" placeholder="Atualizações" [(ngModel)]="contadoriaJef.atualizacoes">
          </div>
        </mat-form-field>
      <div>
        <button mat-button class="btnF5" type="submit" [disabled]="!form.valid">save</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </mat-card>
