
<mat-card class="distJefChart">
  <div>
    <h1 class="title">4.1 - Distribuição JEF</h1>
    <h4 class="subtitle">{{mesNome}}/{{ano}}</h4>
  </div>
  <div style="display: block">
    <canvas baseChart
            [colors]="coresGrafico"
            [data]="dataGrafico"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <br>
  <table mat-table [dataSource]="Tabela">
    <ng-container matColumnDef="13ª Vara">
      <th mat-header-cell *matHeaderCellDef>13ª Vara</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.vara13 }}</td>
    </ng-container>
    <ng-container matColumnDef="7ª Vara">
      <th mat-header-cell *matHeaderCellDef>7ª Vara</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.vara7 }}</td>
    </ng-container>
    <ng-container matColumnDef="Turma Recursal">
      <th mat-header-cell *matHeaderCellDef>Turma Recursal</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.recursal }}</td>
    </ng-container>

    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.total }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
