<mat-toolbar class="header mat-elevation-z3">
    <mat-toolbar-row>
    <a class="nj" routerLink="/"> NJ - ESTATÍSTICAS</a>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>insert_chart</mat-icon>
        <span>Estatísticas</span>
      </button>
      <button mat-menu-item routerLink="/cejusc">
        <mat-icon>insert_chart</mat-icon>
        <span>Cejusc</span>
      </button>
      <button mat-menu-item routerLink="/arquivo">
        <mat-icon>insert_chart</mat-icon>
        <span>Arquivo</span>
      </button>
      <button mat-menu-item routerLink="/contjef">
        <mat-icon>insert_chart</mat-icon>
        <span>Contadoria Jef</span>
      </button>
      <button mat-menu-item routerLink="/contvara">
        <mat-icon>insert_chart</mat-icon>
        <span>Contadoria Vara</span>
      </button>
      <button mat-menu-item routerLink="/distjef">
        <mat-icon>insert_chart</mat-icon>
        <span>Distribuição JEF</span>
      </button>
      <button mat-menu-item routerLink="/distvara">
        <mat-icon>insert_chart</mat-icon>
        <span>Distribuição Vara</span>
      </button>
      <button mat-menu-item routerLink="/mandado">
        <mat-icon>insert_chart</mat-icon>
        <span>Mandado Distribuido</span>
      </button>
      <button mat-menu-item routerLink="/usuario">
        <mat-icon>perm_identity</mat-icon>
        <span>Usuários</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>perm_identity</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
