<h3>Arquivo</h3>
<mat-card class="errMatCard">
  <button type="button" mat-button class="btnF5" routerLink="/arquivo-novo">Novo Registro</button>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Ano">
      <th mat-header-cell *matHeaderCellDef>Ano</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.ano }}</td>
    </ng-container>

    <ng-container matColumnDef="Mes">
      <th mat-header-cell *matHeaderCellDef>Mês</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.mes }}</td>
    </ng-container>

    <ng-container matColumnDef="Desarquivado e enviado para a vara">
      <th mat-header-cell *matHeaderCellDef>Desarquivado e enviado para a vara</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.desarquivadoEnviadoVara }}</td>
    </ng-container>

    <ng-container matColumnDef="Caixa devolvida retorno vara">
      <th mat-header-cell *matHeaderCellDef>Caixa devolvida retorno vara</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.devolvidoCaixaRetornoVara }}</td>
    </ng-container>

    <ng-container matColumnDef="Feitura Caixa para guarda processo arquivo">
      <th mat-header-cell *matHeaderCellDef>Feitura Caixa para guarda processo arquivo</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.feituraCaixaParaGuardaProcessoArquivo }}</td>
    </ng-container>

    <ng-container matColumnDef="Distribuição Arquivamento">
      <th mat-header-cell *matHeaderCellDef>Distribuição Arquivamento</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.distribuicaoArquivamento }}</td>
    </ng-container>

    <ng-container matColumnDef="Caixa a cotes">
      <th mat-header-cell *matHeaderCellDef>Caixa a cotes</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.caixaAcotes }}</td>
    </ng-container>

    <ng-container matColumnDef="Baixado Guardados Caixa a cote">
      <th mat-header-cell *matHeaderCellDef>Baixado Guardados Caixa a cote</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.baixadoGuardadosCaixaAcote }}</td>
    </ng-container>

    <ng-container matColumnDef="Processos Recebidos Vara Baixa">
      <th mat-header-cell *matHeaderCellDef>Processos Recebidos Vara Baixa</th>
      <td mat-cell *matCellDef="let listArquivo">{{ listArquivo.processosRecebidosVaraBaixa }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</mat-card>
