<mat-card class="novoMatCard">
      <h3>Contadoria Vara - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <mat-form-field>
          <div>
            <input matInput ype="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="contadoriaVara.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput ype="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="contadoriaVara.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput ype="input" id="inputFisicoEntrada" name="inputFisicoEntrada" placeholder="Físico Entrada" [(ngModel)]="contadoriaVara.fisicoEntrada">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput ype="input" id="inputFisicoSaída" name="inputFisicoSaída" placeholder="Físico Saída" [(ngModel)]="contadoriaVara.fisicoSaida">
          </div>
        </mat-form-field>
        <br>

      <mat-form-field>
          <div>
            <input matInput ype="input" id="inputFisicoSaldo" name="inputFisicoSaldo" placeholder="Físico Saldo" [(ngModel)]="contadoriaVara.fisicoSaldo">
          </div>
      </mat-form-field>
      <br>
      <mat-form-field>
          <div >
            <input matInput type="input" id="inputEletronicoEntrada" name="inputEletronicoEntrada" placeholder="Eletrônico Entrada" [(ngModel)]="contadoriaVara.eletronicoEntrada">
          </div>
      </mat-form-field>
      <br>
      <mat-form-field>
          <div >
            <input matInput type="input" id="inputEletronicoSaida" name="inputEletronicoSaida" placeholder="Eletrônico Saída" [(ngModel)]="contadoriaVara.eletronicoSaida">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div >
            <input matInput type="input" id="inputEletronicoSaldo" name="inputEletronicoSaldo" placeholder="Eletrônico Saldo" [(ngModel)]="contadoriaVara.eletronicoSaldo">
          </div>
        </mat-form-field>

      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">save</button>
      </div>
    </form>
  </mat-card>
