
      <h3>Contadiria Vara - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div>
        <div>
          <label for="inputAno" >Ano</label>

          <div class="col-sm-10">
            <input type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="contadoriaVara.ano">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputMes">Mês</label>

          <div>
            <input type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="contadoriaVara.mes">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputFisicoEntrada">Físico Entrada</label>

          <div >
            <input type="input" id="inputFisicoEntrada" name="inputFisicoEntrada" placeholder="Físico Entrada" [(ngModel)]="contadoriaVara.fisicoEntrada">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputFisicoSaída">Físico Saída</label>

          <div >
            <input type="input" id="inputFisicoSaída" name="inputFisicoSaída" placeholder="Físico Saída" [(ngModel)]="contadoriaVara.fisicoSaida">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputFisicoSaldo">Físico Saldo</label>

          <div >
            <input type="input" id="inputFisicoSaldo" name="inputFisicoSaldo" placeholder="Físico Saldo" [(ngModel)]="contadoriaVara.fisicoSaldo">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputEletronicoEntrada">Eletrônico Entrada</label>

          <div >
            <input type="input" id="inputEletronicoEntrada" name="inputEletronicoEntrada" placeholder="Eletrônico Entrada" [(ngModel)]="contadoriaVara.eletronicoEntrada">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputEletronicoSaida">Eletrônico Saída</label>

          <div >
            <input type="input" id="inputEletronicoSaida" name="inputEletronicoSaida" placeholder="Eletrônico Saída" [(ngModel)]="contadoriaVara.eletronicoSaida">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputEletronicoSaldo">Eletrônico Saldo</label>

          <div >
            <input type="input" id="inputEletronicoSaldo" name="inputEletronicoSaldo" placeholder="Eletrônico Saldo" [(ngModel)]="contadoriaVara.eletronicoSaldo">
          </div>
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="!form.valid">save</button>
      </div>
    </form>
