
<mat-card class="contVara2Chart">
  <div>
    <h1 class="title">3.2 - Contadoria Vara (Saída)</h1>
    <h4 class="subtitle">{{mesNome}}/{{ano}}</h4>
  </div>
  <div style="display: block">
    <canvas baseChart
            [colors]="coresGrafico"
            [data]="dataGrafico"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <br>
  <table mat-table [dataSource]="Tabela">
    <ng-container matColumnDef="Físico Saída">
      <th mat-header-cell *matHeaderCellDef>Físico Saída</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.fisicoSaida }}</td>
    </ng-container>
    <ng-container matColumnDef="Eletrônico Saída">
      <th mat-header-cell *matHeaderCellDef>Eletrônico Saída</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.eletronicoSaida }}</td>
    </ng-container>

    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let Tabela">{{ Tabela.total }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
