<mat-card>
      <h3>Distribuição JEF - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <mat-form-field>
          <div>
            <input matInput type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="distribuicaoJef.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="distribuicaoJef.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputTelejudiciario" name="inputTelejudiciario" placeholder="Telejudiciário" [(ngModel)]="distribuicaoJef.teleJudiciario">
          </div>
        </mat-form-field>
        <br>

      <mat-form-field>
          <div >
            <input matInput type="input" id="inputAtermacao" name="inputAtermacao" placeholder="Atermação" [(ngModel)]="distribuicaoJef.atermacao">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputAdvogados" name="inputAdvogados" placeholder="Advogados" [(ngModel)]="distribuicaoJef.advogados">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>

          <div>
            <input matInput type="input" id="inputProcessos" name="inputProcessos" placeholder="Processos" [(ngModel)]="distribuicaoJef.processos">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div >
            <input matInput type="input" id="inputRecursal" name="inputRecursal" placeholder="Recursal" [(ngModel)]="distribuicaoJef.recursal">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div>
            <input matInput type="input" id="inputVara13" name="inputVara13" placeholder="13a Vara" [(ngModel)]="distribuicaoJef.vara13">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div >
            <input matInput type="input" id="inputVara7" name="inputVara7" placeholder="7a Vara" [(ngModel)]="distribuicaoJef.vara7">
          </div>
        </mat-form-field>

      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">save</button>
      </div>
    </form>
  </mat-card>
