<mat-card class="novoMatCard">
      <h3>Distribuição JEF - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Ano</mat-label>
          <div>
            <input matInput type="input"  id="inputAno" name="ano" [(ngModel)]="distribuicaoJef.ano">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Mês</mat-label>
          <div>
            <input matInput type="input" id="inputMes" name="mes" [(ngModel)]="distribuicaoJef.mes">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Telejudiciário</mat-label>
          <div>
            <input matInput type="input" id="inputTelejudiciario" name="inputTelejudiciario" [(ngModel)]="distribuicaoJef.teleJudiciario">
          </div>
        </mat-form-field>
        <br>

      <mat-form-field appearance="outline">
        <mat-label>Atermação</mat-label>
          <div >
            <input matInput type="input" id="inputAtermacao" name="inputAtermacao" [(ngModel)]="distribuicaoJef.atermacao">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Advogados</mat-label>
          <div>
            <input matInput type="input" id="inputAdvogados" name="inputAdvogados" [(ngModel)]="distribuicaoJef.advogados">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Processos</mat-label>

          <div>
            <input matInput type="input" id="inputProcessos" name="inputProcessos" [(ngModel)]="distribuicaoJef.processos">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Recursal</mat-label>
          <div >
            <input matInput type="input" id="inputRecursal" name="inputRecursal" [(ngModel)]="distribuicaoJef.recursal">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>13ª Vara</mat-label>
          <div>
            <input matInput type="input" id="inputVara13" name="inputVara13" [(ngModel)]="distribuicaoJef.vara13">
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>7ª Vara</mat-label>
          <div >
            <input matInput type="input" id="inputVara7" name="inputVara7" [(ngModel)]="distribuicaoJef.vara7">
          </div>
        </mat-form-field>

      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">Salvar</button>
      </div>
    </form>
  </mat-card>
