
      <h3>Distribuição JEF - Novo</h3>
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div>
        <div>
          <label for="inputAno" >Ano</label>

          <div class="col-sm-10">
            <input type="input"  id="inputAno" name="ano" placeholder="Ano" [(ngModel)]="distribuicaoJef.ano">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputMes">Mês</label>

          <div>
            <input type="input" id="inputMes" name="mes" placeholder="Mes" [(ngModel)]="distribuicaoJef.mes">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputTelejudiciario">Telejudiciário</label>

          <div >
            <input type="input" id="inputTelejudiciario" name="inputTelejudiciario" placeholder="Telejudiciário" [(ngModel)]="distribuicaoJef.teleJudiciario">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputAtermacao">Atermação</label>

          <div >
            <input type="input" id="inputAtermacao" name="inputAtermacao" placeholder="Atermação" [(ngModel)]="distribuicaoJef.atermacao">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputAdvogados">Advogados</label>

          <div >
            <input type="input" id="inputAdvogados" name="inputAdvogados" placeholder="Advogados" [(ngModel)]="distribuicaoJef.advogados">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputProcessos">Processos</label>

          <div >
            <input type="input" id="inputProcessos" name="inputProcessos" placeholder="Processos" [(ngModel)]="distribuicaoJef.processos">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputRecursal">Recursal</label>

          <div >
            <input type="input" id="inputRecursal" name="inputRecursal" placeholder="Recursal" [(ngModel)]="distribuicaoJef.recursal">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputVara13">13a Vara</label>

          <div >
            <input type="input" id="inputVara13" name="inputVara13" placeholder="13a Vara" [(ngModel)]="distribuicaoJef.vara13">
          </div>
        </div>
      </div>

      <div>
        <div>
          <label for="inputVara7">7a Vara</label>

          <div >
            <input type="input" id="inputVara7" name="inputVara7" placeholder="7a Vara" [(ngModel)]="distribuicaoJef.vara7">
          </div>
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="!form.valid">save</button>
      </div>
    </form>
