<h3>Cejusc</h3>
<mat-card>
  <button type="button" mat-button class="btnF5" routerLink="/cejusc-novo">Novo Registro</button>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Ano">
      <th mat-header-cell *matHeaderCellDef>Ano</th>
      <td mat-cell *matCellDef="let listCejusc">{{ listCejusc.ano }}</td>
    </ng-container>

    <ng-container matColumnDef="Mes">
      <th mat-header-cell *matHeaderCellDef>Mês</th>
      <td mat-cell *matCellDef="let listCejusc">{{ listCejusc.mes }}</td>
    </ng-container>

    <ng-container matColumnDef="Acordo">
      <th mat-header-cell *matHeaderCellDef>Acordo</th>
      <td mat-cell *matCellDef="let listCejusc">{{ listCejusc.acordo }}</td>
    </ng-container>

    <ng-container matColumnDef="Sem Acordo">
      <th mat-header-cell *matHeaderCellDef>Sem Acordo</th>
      <td mat-cell *matCellDef="let listCejusc">{{ listCejusc.semAcordo }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</mat-card>
