/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.nj {
  text-decoration: none;
  color: white;
}
.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #003459;
  color: #fff;
  z-index: 2;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-icon:hover {
  color: #00a7e1;
}

.example-spacer {
  flex: 1 1 auto;
}

body {
  background: #f5f5f5;
}

#logoJFPB {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.novoMatCard {
  position: relative;
  top: 120px;
}

.errMatCard {
  position: relative;
  top: 70px;
}

.srcBar{
  width: 80%;
  height: auto;
  top: 120px;
  margin: 0 auto;
}

.postheader {
  width: 80%;
  height: 135px;
  top: 200px;
  margin: 0 auto;
}

.title {
  font-size: 1.2em;
}

.btnF5 {
  background: #003459;
  color: #fff;
  margin-right : 30 !important;
}

.btnF5:hover {
  background: #00a7e1;
}
mat-card {
  width: 80%;
  margin: 0 auto;
}
.grf {
  top: 140px;
}
.cover {
  width: 35%;
  height: 60%;
  margin: 0 auto;
  background: #00a7e1;
}

.mtIcon {
  text-align: right;
}

.hover:hover {
  background-color:#b9eef5a8;
}

