/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

nav {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #003459;
  z-index: 2;
}
body {
  background: #f5f5f5;
  padding: 3em;
  font-family: Arial, Helvetica, sans-serif;

}

ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}
ul li {
  display: inline;
  margin-right: 30px;
}
ul li a {
  font-size: 1.5em;
}
a {
  color: #000;
  text-decoration: none;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #00A7E1;
}

