<mat-card class="novoMatCard">
    <!-- /.box-header -->
    <!-- form start -->
    <form #form="ngForm" (ngSubmit)="register()" novalidate>

      <mat-form-field appearance="outline">
      <div>
        <div>

          <div>
            <input matInput type="input"  id="inputNome" name="nome" placeholder="nome" [(ngModel)]="usuario.login">
          </div>
        </div>
      </div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-select id="idPerfil" placeholder="Selecione o perfil: " [(ngModel)]="usuario.profile" name="perfil">
          <mat-option value="ROLE_ADMIN">Administrador</mat-option>
          <mat-option value="ROLE_ARQUIVO">Arquivo</mat-option>
          <mat-option value="ROLE_CEJUSC">CEJUSC</mat-option>
          <mat-option value="ROLE_CONTJEF">Contadoria JEF</mat-option>
          <mat-option value="ROLE_CONTVARA">Contadoria Vara</mat-option>
          <mat-option value="ROLE_DISTJEF">Distribuição JEF</mat-option>
          <mat-option value="ROLE_DISTVARA">Distribuição Vara</mat-option>
          <mat-option value="ROLE_MANDADO">CEMAN</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div>
        <button type="submit" mat-button class="btnF5" [disabled]="!form.valid">Salvar</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </mat-card>
